body {
    /* margin: 0; */
    padding: 0;
    /* display: flex; */
    height: 100vh;
    font-family: poppins;

}

.container{
    display: flex;
    height: 100%;
}

.contact_list{
    width: 30%;  
    font-size: 20px;
    overflow-y: auto;
    max-height: 100vh;
    font-weight: bold;
    overflow-x: hidden;
}

.contact_list ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact_list ul li{
    padding: 20px;
    box-sizing: border-box; 
    background-color: rgb(240, 240, 240);
    transition: background-color 120ms ease-in-out;
}

.contact_list ul li:hover{
    background-color: white;
}

#box{
    width: 60%; 
    height: 100%; 
    margin: 20px 10; 
    overflow-y: auto; 
    box-sizing: border-box; 
    /* margin: 20px auto; Center the chat box 🦆🦆*/
}

.sender{
    font-size: 20px;
    font-weight: bolder;
}

.receiver{
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
    
}

.messages{
    padding: 10px;
    text-align: left;
    width: fit-content;
    border-radius: 10px; 
    margin-bottom: 10px; 
    color: rgb(0, 0, 0);
    background-color: rgb(240, 240, 240);
}

.reply{
    padding: 10px;
    color: white;
    margin-left: auto;
    text-align: right; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    max-width: max-content; 
    justify-content: center;
    background-color: rgb(44, 63, 90);
}

#text_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#text_box {
    border: none;
    /* padding: 10px; */
    margin-top: 20px;
    /* background-color: rgb(42, 91, 177); */
}

#input_text {
    border: none;
    width: 700px; 
    padding: 10px;
    color: black;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    
}

#send_btn {
    border: none; 
    padding: 10px;
    font-size: 20px;
    color: #ffffff; 
    margin-left: 10px; 
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(42, 91, 177); 
    transition: background-color 250ms, color 250ms; 
}

#send_btn:hover{
    color: #ffffff;
    background-color: rgb(29, 62, 118);
}